/* CSS declarations go here */
fieldset {
  border: 1px solid rgba(255, 255, 255, 0);
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.file-field .btn, .file-field .btn-large {
  height: 2.4rem;
  line-height: 2.4rem;
}

.input-field {
  margin-top: 0rem;
}
#searchMapContainer {
  position:relative;
  height: 500px;
  width: 100%;
  z-index: 0
}

.medium-margin {
  margin-top: 50px;
}
.profile_pic
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

a#at-nav-button {
  color: white!important;
}
a#at-nav-button.btn {
  margin: 0px ;
  height: 60px;
}
@media only screen and (min-width: 993px){
  .row .col.push-l4 {
    left: 16%;
  }
}
@media only screen and (min-width: 993px){
  .row .col.l4 {
    width: 70%;
  }
}
.at-oauth.center-align {
  width: 90%;
  padding-left: 10%;
}
.at-social-btn, .at-btn.submit {
  min-width: 80%;
}
button#at-btn {
  left: 10%;
}
h3 header{
  text-align: center;
}
.signin{
  margin: auto!important;
  padding-top: 3px!important;
  height: 39px!important;
}
li.dropdown1Hover {
    height: 64px;
    padding: 0px !important;
}
.uploadedPic{
  margin-left: auto;
  margin-right: auto;
}
.section.no-pad-bot {
  min-height: 600px;
}
