<template name="header">
  <nav class="cyan darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{pathFor 'postList'}}" class="brand-logo">
      <i class="material-icons left">donut_large</i>Meet Buy Save</a>
      <ul class="right hide-on-med-and-down">
        <li><a  href="{{pathFor 'explore'}}">Map</a></li>
        <li><a  href="{{pathFor 'searchBox'}}">Search</a></li>
        {{#if currentUser}}
          {{> headerUserOptions}}
        {{else}}
        <li>{{> atNavButton }}</li>
        {{/if}}

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="collection-item active"><img class="profile_pic" src="{{getImageUser}}"> <span class="text-darken-2">{{name}}</span></li>
        <li><a  href="{{pathFor 'explore'}}">Map</a></li>
        <li><a  href="{{pathFor 'searchBox'}}">Search</a></li>

        {{#if currentUser}}
        <li><a href="{{pathFor 'postSubmit'}}">Submit</a></li>
        <li><a href="{{pathFor 'account'}}">Your Posts</a></li>
        <li><a href="{{pathFor 'chats'}}">Messages</a></li>
        <li>{{> atNavButton }}</li>
        {{/if}}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</template>
