<template name="slider">
  <div class="slider">
  <ul class="slides">
    <li>
      <a href="{{pathFor 'fnb'}}"><img src="http://lsa.assets.s3-ap-southeast-1.amazonaws.com/var/lifestyleasia/storage/images/media/images/fine_dining/3749932-1-eng-GB/fine_dining.jpg"></a> <!-- random image -->
      <div class="caption center-align">
        <h3>Food and Drinks!</h3>
        <h5 class="light grey-text text-lighten-3">A meal tastes better when it is shared.</h5>
      </div>
    </li>
    <li>
      <a href="{{pathFor 'forHim'}}"><img src="http://lorempixel.com/580/250/nature/2"> </a><!-- random image -->
      <div class="caption left-align">
        <h3>For Him</h3>
        <h5 class="light grey-text text-lighten-3">Guy stuff</h5>
      </div>
    </li>
    <li>
      <a href="{{pathFor 'forHer'}}">      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image --></a>
      <div class="caption right-align">
        <h3>For Her</h3>
        <h5 class="light grey-text text-lighten-3">Women stuff</h5>
      </div>
    </li>
    <li>
<a href="{{pathFor 'tech'}}">      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image --></a>
      <div class="caption center-align">
        <h3>Tech & gadgets!</h3>
        <h5 class="light grey-text text-lighten-3">Toys should be shared.</h5>
      </div>
    </li>
  </ul>
</div>
</template>
