<template name="explore">

      {{#autoForm schema=searchSchema id="searchJob" type="normal"}}

        {{#if googleMapsReady}}
          {{> afQuickField name="location" type="googleplace" class="form-control" autocomplete="off"}}
        {{/if}}


        {{> afQuickField name="radius"}}


        <div class="center-align">
          <button type="submit" class="btn">Search</button>
        </div>
<br>
      {{/autoForm}}

        {{#each jobs}}
          <div class="row">
            <h4>Job Title: {{title}} | Address: {{location.fullAddress}}</h4>
          </div>
        {{/each}}

        <div id="searchMapContainer"></div>


</template>
