<template name="postSubmit">
  <h2 class="center-align">Add a deal!</h2>
  <img class="materialboxed" width="50%"  />
  <div class="center-align">
    <br>
    <br>

    {{#each photoURL}}
    <div>
      <img class="materialboxed" width="50%" src={{this.url}} />
    </div>
    {{/each}}
  </div>
  <div class="center-align">
    <div class="file-field input-field btn center-align">
      <i class="material-icons left">backup</i><span>Upload Photo</span>
      <input type="file" class="myFileInput">
    </div>
    &nbsp; OR &nbsp;
    <a class="waves-effect waves-light btn photo"><i class="center-align material-icons left">add_a_photo</i>Take a photo!</a>
  </div>
  <br>
  <br>
  {{#autoForm collection="Posts" id="insertPostsForm" type="insert"}}
  <fieldset>
    {{> afQuickField name='title'}}
    {{> afQuickField name='description' rows = 6}}
    {{> afQuickField name='pricePerItem' icon="attach_money"}}
    {{> afQuickField name='destroyDate' type="pickadate" icon="date_range"}}
    {{> afQuickField name='url' icon='http'}}
    {{#if googleMapsReady}}
    {{> afQuickField name="location" type="googleplace" class="form-control" autocomplete="on"}}
    {{/if}}    <!-- {{> afQuickField name="location"}} -->
    {{>afQuickField name="cat"}}

  </fieldset>
  <button type="submit" class="btn btn-primary center-align">Insert</button>
  {{/autoForm}}

  <!-- {{> quickForm collection="Posts" id="insertBookForm" type="insert"}} -->
  <br>
  <br>
<br>
</template>
