<template name="postItem">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-image">
            <a href="{{pathFor 'postPage'}}">
              {{#if image.count}}
              {{#each image}}<img src="{{this.url}}">    {{/each}}
              {{else}}
              <img src="http://placehold.it/350x150">
              {{/if}}
            </a>
          <span class="card-title">{{title}} </span>
        </div>
        <div class="card-content">
          <h4 class="truncate">{{description}} <h6>{{commentsCount}} Replies<br> </h6> </h4>
        </div>
        <div class="card-action">
          {{#if url}}  <a href="{{url}}">Link<i class="material-icons">launch</i></a> {{/if}}
          <a href="{{pathFor 'postPage'}}">Join Chat</a>
          {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
          {{#if ownPost}}<a class="deletePost"><i class="material-icons ">delete</i></a>{{/if}}
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2 m2">
            {{> avatar userId=userId shape="circle"}}
          </div>
          <div class="col s1 m1">
          </div>
          <div class="col s9 m9">
            <span class="black-text">
              <h6><small>Created by {{author}} on: {{formattedDate}} <br>
                Expires: {{formattedDestroyDate}}</small></h6>
              </span>
            </div>
        </div>
        <div class="row">
          <div class="chat col s12 m12">
            <a class="fwidth waves-effect waves-light btn" ><i class="material-icons left">chat</i>Message {{author}}</a>
          </div>
        </div>
    </div>

    </div>

</template>
